# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Environment variables
.env

# Alembic cache
alembic/__pycache__/

# IDE
.idea/
.vscode/

# Logs
*.log

# Uploads
uploads/

# OS
.DS_Store
Thumbs.db